.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding-right: 1rem;
  height: 100%;
}

/* Scrollbar for main content */
.mainContent::-webkit-scrollbar {
  width: 4px;
}

.mainContent::-webkit-scrollbar-track {
  background: transparent;
}

.mainContent::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
